/* h2{
    color: red;
    font-weight: bord ;
    font-size: 20px;
    border: 2px double blue;
    border-radius: 5px;
} */
.mauxanh{
    color: green;
}
.mauhong{
    color: pink;
}
.maudo{
    color: red;
}